#ifndef __CONFIG_H
  #define __CONFIG_H

  // Development settings
  //#define DEBUG
  #define SERIAL_BAUD     115200

  /************************* WiFi Access Point *********************************/

  #define WIFI_SSID       ""
  #define WIFI_PASSWORD   ""
  #define CONNECT_TIMEOUT 5

  /************************* Adafruit.io Setup *********************************/

  #define MQTT_SERVER     ""
  #define MQTT_SERVERPORT 1883
  #define MQTT_USERNAME   ""
  #define MQTT_PASSWORD   ""


  #define PIN D2
  // How many NeoPixels are attached to the Arduino?
  #define NUMPIXELS 5

#endif
